<html>
    <title>Forgot Password</title>
    <link rel="shortcut icon" href="/static/inbox.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <script src="/static/js/bootstrap.js"></script>
    <body>
        <header class="bg-success bg-gradient">
            <div class="text-white p-2">
              <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                  <a class="navbar-brand text-white" href="{% url 'index' %}"><h4>SpamMail</h4></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  </div>
              </nav>
            </div>
        </header>
        <div class="container">
            <div class="row mb-2 mt-5 mb-5">
                <div class="col-sm-12 col-md-12 col-lg-12 col-12 card mb-5">
                    <form method="post" action="{% url 'check_sqAction' %}">
                        {% csrf_token %}
                    <div class="pt-4 pb-2">
                        <h4 class="text-success text-center ms-3">Forgot Password</h4>
                    </div>
                    <div class="mb-2">
                        <input type="text" class="form-control" name="securityquestion" placeholder="Security Question">
                    </div>
                    <div class="mb-2">
                        <input type="password" class="form-control" name="answer" placeholder="Answer">
                    </div>
                    <div class="mb-3 mt-5 d-flex justify-content-evenly">
                        <button class="btn btn-success" type="submit">Go</button>
                    </div>
                    </form>
                </div>  
            </div>
        </div>
        <footer class="bg-success fixed-bottom" style="--bs-bg-opacity: .5;">
            <div class="container">
              <div class="row">
                <div class="col-md-12 text-center text-white p-5">
                  <p>Copyrights 2023 SpamMail, Inc</p>
                </div>
              </div>
            </div>    
          </footer>
    </body>
</html>







