<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/bootstrap.js"></script>
</head>
<body>
    <div class="container">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <p class="bg-info text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia magni perspiciatis rem assumenda cumque optio, natus doloribus, dolorem sint delectus inventore omnis aliquid modi ipsum voluptates dolore expedita provident Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio minima ipsum fuga repellat modi? Voluptatibus consequuntur iusto similique tenetur beatae. Ex provident distinctio exercitationem soluta illum sint minima, quos similique.</p>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio reiciendis eum quia? Assumenda, ex corporis perferendis minima sit culpa ducimus repellendus et. Repellendus est dignissimos optio dolore perspiciatis consequatur a.</p>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta amet laboriosam vitae molestiae quisquam eius dolores, exercitationem ullam explicabo aspernatur tempore recusandae tempora blanditiis voluptate deserunt asperiores quod inventore qui?</p>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam laudantium officiis accusamus voluptate hic ut unde fugit cupiditate eligendi quidem voluptates, a incidunt qui non nihil, sint corporis aliquid porro?</p>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam laudantium officiis accusamus voluptate hic ut unde fugit cupiditate eligendi quidem voluptates, a incidunt qui non nihil, sint corporis aliquid porro?</p>
         </div>
    </div>
</div>
</body>
</html>