<html>
	<head>
		<title>Admin - Season Country</title>
		<link rel="shortcut icon" href="/static/inbox.jpg" type="image/x-icon">
		<link rel="stylesheet" href="/static/css/bootstrap.css">
		<script src="/static/js/bootstrap.js"></script>
	</head>
	<script src="/static/jquery-1.8.3.min.js"></script>
	<script>
	$(document).ready(function(){
	$("#country").change(function(){
	var country = $("#country").val();
	$.ajax({
		url : "{% url 'getstate_season' %}",
		data : {'country' : country},
		success : function(data)
		{
			$("#state").html(data);
		}
	})		
	})
	})
	</script>
	
	<script>
	$(document).ready(function(){
	$("#season").change(function(){
	var season = $("#season").val();
	$.ajax({
		url : "{% url 'getfactor_season' %}",
		data : {'season' : season},
		success : function(data)
		{
			$("#seasonfactor").html(data);
		}
	})
	})
	})
	</script>
<body>
	<header class="bg-warning bg-gradient">
        <div class="text-white p-2">
          <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
              <a class="navbar-brand text-white" href="{% url 'siteadminhome' %}"><h4>SpamMail</h4></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link active text-white" aria-current="page" href="{% url 'siteadminhome' %}">Home</a>
                    </li>
                  </ul>
                  <ul class="navbar-nav my-auto me-2">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Administrator
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'logout' %}">Log Out</a></li>
                    </ul>
                  </li>
                  </ul>
                  <img src="/static/profile.jpg" width="50px" height="50px" class="rounded-circle ms-2">
                </div>
              </div>
          </nav>
        </div>
      </header>
	<div class="container">	
		<div class="row mb-2 mt-5 mb-5">
			<div class="col-sm-12 col-md-12 col-lg-12 col-12 card mb-5">
				<form method="post" action="{% url 'seasoncountryAction' %}">
					{% csrf_token %}
				<div class="pt-4 pb-2">
					<h4 class="text-warning text-center ms-3">Add Season</h4>
				</div>
				<div class="mb-2">
					<select name="country" id="country" class="form-control">
						<option value="">Select your country</option>
						{% for c in country %}
						<option value="{{c.id}}">{{c.countryname}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="mb-2">
					<select name="state" id="state" class="form-control">
						<option value="">Select your state</option>
					</select>
				</div>
				<div class="mb-2">
					<select name="season" id="season" class="form-control">
						<option value="">Select Season</option>
						{% for s in season %}
						<option value="{{s.id}}">{{s.season_name}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="mb-2">
					<select name="seasonfactor" id="seasonfactor" class="form-control">
						<option value="">Select season factor</option>
					</select>
				</div>
				<div class="mb-2">
					<input type="number" name="month" placeholder="Select month in number" class="form-control">
				</div>
				<div class="mb-3 mt-5 d-flex justify-content-evenly">
					<button class="btn btn-warning text-white" type="submit">Submit</button>
				</div>
				</form>
			</div>
		</div>
	</div>
	<footer class="bg-warning" style="--bs-bg-opacity: .5;">
		<div class="container">
		  <div class="row">
			<div class="col-md-12 text-center p-5">
			  <p>Copyrights 2023 SpamMail, Inc</p>
			</div>
		  </div>
		</div>    
	  </footer>
</body>
{% if messages %}
{% for msg in messages %}
<script>
alert("{{msg}}")
</script>
{% endfor %}
{% endif %}
</html>