<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="shortcut icon" href="images/apple-touch-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/bootstrap.js"></script>
</head>
<body> 
    <div class="navbar navbar-expand-lg navbar-dark bg-success">
        <a href="#" class="navbar-brand"></a>
        <ul class="navbar-nav text-white">
            <li class="nav-item">
                <a class="nav-link" href="#"><h5>Home</h5></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
        </ul>
    </div>
    <div class="container">
        <div class="row m-2">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="ms-5">
                    <h4>Nike</h4>
                    <p>Nike black snickers</p>
                </div>
                <div>
                    <img src="images/product-1.jpg" width="300px" height="300px" class="border border-4 border-dark">
                </div>
                <div class="m-2">$5999  <s class="text-danger">$7999</s></div>
                <div>
                    <button type="submit" class="btn btn-success mt-3 ms-5">Add to cart</button>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="ms-5">
                    <h4>Samsung</h4>
                    <p>Samsung watch s series pink</p>
                </div>
                <div>
                    <img src="images/product-2.jpg" width="300px" height="300px" class="border border-4 border-danger">
                </div>
                <div class="m-2">$30000  <s class="text-danger">$35000</s></div>
                <div>
                    <button type="submit" class="btn btn-success mt-3 ms-5">Add to cart</button>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="ms-5">
                    <h4>Bose</h4>
                    <p>Bose black headset</p>
                </div>
                <div>
                    <img src="images/product-5.jpg" width="300px" height="300px" class="border border-4 border-dark">
                </div>
                <div class="m-2">$25000  <s class="text-danger">$3000</s></div>
                <div>
                    <button type="submit" class="btn btn-success mt-3 ms-5">Add to cart</button>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-info p-5">
        <h4 class="text-center">Copyright</h4>
    </div>
</body>
</html>