<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    
</head>
<body>
  <header class="bg-success bg-gradient">
    <div class="text-white p-2">
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand text-white" href="#"><h4>SpamMail</h4></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Customer Factor
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Customer hobby factor</a></li>
                    <li><a class="dropdown-item" href="#">Customer age factor</a></li>
                    <li><a class="dropdown-item" href="#">Customer season-country factor</a></li>
                  </ul>
                </li>
              </ul>
              <ul class="navbar-nav my-auto me-2">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Profile
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">View Profile</a></li>
                  <li><a class="dropdown-item" href="#">Update Profile</a></li>
                  <li><a class="dropdown-item" href="#">Log Out</a></li>
                </ul>
              </li>
              </ul>
              <img src="istockphoto-1332100919-612x612.jpg" width="50px" height="50px" class="rounded-circle ms-2">
            </div>
          </div>
      </nav>
    </div>
  </header>

  <section class="bg-success-subtle">
    <div class="container p-3 pt-5">



      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex justify-content-evenly">
          <div class="card" style="width: 18rem;">
            
            <div class="card-body">
              
              <h5 class="card-title">New Mail <i class="fa-regular fa-envelope"></i></h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex justify-content-evenly">
          <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Sent Mail <i class="fa-solid fa-envelope-circle-check"></i></i></h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex justify-content-evenly">
          <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Inbox <i class="fa-solid fa-envelopes-bulk"></i></i></h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container p-3">
      <div class="row">
        <div class="col-lg-6 d-flex justify-content-evenly">
          <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Spam <i class="fa-solid fa-ban"></i></h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 d-flex justify-content-evenly">
          <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Trash <i class="fa-regular fa-trash-can"></i></h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  <footer class="bg-success" style="--bs-bg-opacity: .5;">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center p-5">
          <p>Copyrights <i class="fa-regular fa-copyright"></i> 2023 SpamMail, Inc</p>
          <i class="fa-brands fa-facebook fa-2x"></i>
          <i class="fa-brands fa-instagram fa-2x"></i>
          <i class="fa-brands fa-twitter fa-2x"></i>
        </div>
      </div>
    </div>    
  </footer>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/09fc86d1e6.js" crossorigin="anonymous"></script>
</body>
</html>